/**********************************************************************/
/*setting*/
/**********************************************************************/
/*setting fonts*/
@font-face {
  font-family: "Libre Franklin";
  src: url(../font/LibreFranklin-VariableFont_wght.ttf);
  /*Weights: 300, 600, 700*/
}
/*setting colors*/
/*setting page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

/*setting body*/
body {
  min-height: 100vh;
  font-family: Libre Franklin;
  font-size: 20px;
  font-weight: 300;
  background: rgb(255, 255, 255);
  color: hsl(209deg, 33%, 12%);
  text-align: center;
}

/*setting link color (footer)*/
a,
a:visited {
  color: hsl(209deg, 33%, 12%);
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
/*flex on main for center elements in page*/
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 110vh;
  /*set titles*/
}
main h1 {
  margin-bottom: 15px;
  color: hsl(0deg, 0%, 59%);
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  /*Media =>set card size*/
}
@media screen and (max-width: 990px) {
  main h1 {
    font-size: 1.7rem;
  }
}
main h1 span {
  color: hsl(209deg, 33%, 12%);
  font-weight: 700;
}
main h2 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1rem;
}

/*set imput and button*/
input {
  color: hsl(0deg, 0%, 59%);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  width: 422px;
  height: 56px;
  border: 1px solid hsl(223deg, 100%, 88%);
  border-radius: 25px;
  margin-right: 15px;
  padding-left: 35px;
}
@media screen and (max-width: 990px) {
  input {
    display: block;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}

button {
  background: hsl(223deg, 87%, 63%);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 5px 2px rgba(123, 135, 157, 0.2);
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 990px) {
  button {
    margin-top: 20px;
    width: 90%;
  }
}

/*set error message forempty email and wrong type*/
.error,
.error2 {
  display: none;
  font-weight: 600;
  font-size: 0.8rem;
  color: hsl(354deg, 100%, 66%);
  text-align: left;
  margin: 15px 0 0 24px;
}

/*set thank you message*/
.thanks {
  display: none;
  font-weight: 600;
  font-size: 0.8rem;
  color: rgb(7, 163, 7);
  text-align: left;
  margin: 15px 0 0 24px;
}

.background {
  width: 650px;
  /*Media =>set card size*/
}
@media screen and (max-width: 990px) {
  .background {
    width: 550px;
  }
}
@media screen and (max-width: 700px) {
  .background {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .background {
    width: 320px;
  }
}

/*set media icones*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(223deg, 100%, 88%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s ease;
  color: hsl(223deg, 87%, 63%);
}
ul li:hover {
  background-color: hsl(223deg, 87%, 63%);
}
ul li:hover i {
  color: white;
  transform: scale(1.1);
}
ul li i {
  color: hsl(223deg, 87%, 63%);
}

p {
  font-size: 0.7rem;
  color: hsl(0deg, 0%, 59%);
  font-weight: 600;
  letter-spacing: 1px;
}

/*set for activate with javascipt*/
.active .error {
  display: block;
}

.hide .error2 {
  display: block;
}

.display .thanks {
  display: block;
}

/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: hsl(209deg, 33%, 12%);
} /*# sourceMappingURL=index.css.map */
